/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-tittle{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
nav li a{
    text-decoration:none ;
    Home About Contact Us Login
color: var(--dark-02, #424242);
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
     font-size: 4rem;
     font-weight: 700;
     color: #131313;
}
.banner-description{
    color: #727272;
}